:root {
  --font-sans: 'inter-variable', system-ui, sans-serif;
  --text-base: 1rem;
  --color-text-base: light-dark(var(--color-neutral-950), #fff);
  --color-neutral-950: oklch(14.5% 0 none);
  --color-bg-warning-tertiary: light-dark(
    var(--color-amber-50),
    color-mix(in oklab, var(--color-amber-400) var(--alpha-300), transparent)
  );
  --color-amber-50: oklch(98.7% 0.022 95.277);
  --color-amber-400: oklch(82.8% 0.189 84.429);
  --alpha-300: 10%;
  --text-display: var(--text-2xl);
  --text-2xl: 1.5rem;
  --text-lg: 1.125rem;
  --font-weight-normal: 400;
  --color-bg-warning-secondary: light-dark(
    var(--color-amber-100),
    color-mix(in oklab, var(--color-amber-400) var(--alpha-400), transparent)
  );
  --color-amber-100: oklch(96.2% 0.059 95.617);
  --alpha-400: 15%;
  --color-text-base-secondary: light-dark(var(--color-neutral-500), var(--color-neutral-400));
  --color-neutral-500: oklch(55.6% 0 none);
  --color-neutral-400: oklch(70.8% 0 none);
  --color-text-success-secondary: light-dark(var(--color-green-700), var(--color-green-400));
  --color-green-700: oklch(52.7% 0.154 150.069);
  --color-green-400: oklch(79.2% 0.209 151.711);
  --color-text-danger-secondary: light-dark(var(--color-red-600), var(--color-red-400));
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-red-400: oklch(70.4% 0.191 22.216);
  --color-bg-success: light-dark(var(--color-green-700), var(--color-green-600));
  --color-green-600: oklch(62.7% 0.194 149.214);
  --color-bg-danger: light-dark(var(--color-red-600), var(--color-red-500));
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-border-base-secondary: light-dark(
    color-mix(in oklab, var(--color-neutral-950) var(--alpha-300), transparent),
    color-mix(in oklab, #fff var(--alpha-300), transparent)
  );
}
